* {
  text-indent: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  list-style: none;
  text-decoration: none;
}

.tituloPrincipal{
  font-family: "Rubik", sans-serif;
  color: #bddadb;
  font-size: large;
}
.tituloSecundario{
  font-family: "Rubik", sans-serif;
  color: #AF661D;
  font-size: large;
}
.parrafoPrincipal{
  font-family: "Montserrat", sans-serif;
  color: rgb(11, 127, 156);
  font-size : small;
}
.parrafoSecundario{
  font-family: "Montserrat", sans-serif;
  color: rgb(11, 127, 156);
  font-size: small;
}

#container{
  display: flex;
}

#seccionPrincipal{
  width: 83%;
}

#seccionLateral{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: cadetblue;
  width: 17%;
  height: 800px;
}

#cabecera {
  height: 800px;
  width: 100%;
  background-color: bisque;
}

/* Comienzo Barra de Navegación*/

.nav {
  font-family: "Rubik", sans-serif;
  font-size: large;
  background-color: #021627;
  height: 50px;
  /* align-items: center; */
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  display: inline-block;
  line-height: 50px;

}

nav a {
  color: #bddadb;
  display: block;
}

#searchBar {
  border-radius: 3px;
  height: 25px;
  border: #bddadb;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

/* .checkbtn {
  font-size: 30px;
  color: #bddadb;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 925px) {
  nav ul li a {
    font-size: 16px;
  }
};

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2E294E;
    top: 80px;
    left: 0;
    text-align: center;
  }
}; */
/* Fin Barra de Navegación*/

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  /* background-color: #cc8b86; */
  background-color:#021627;
}

#videoEspacio {
  height: 300px;
  background-color: brown;
}

#novedades {
  height: 300px;
  background-color: coral;
}

#juegos {
  height: 300px;
  background-color: cornflowerblue;
}

#libros {
  height: 300px;
  background-color: darkgoldenrod;
}

footer {
  width: 100%;
  background-color: #021627;
  height: 100px;
  position: relative;
  bottom: 0px;

}

#footerCopy {
  color: #bddadb;
  background-color: #021627;
  bottom: 0;
  position: absolute;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  bottom: 0px;
}

#imagenAPODhd{
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* button {
  cursor: pointer;
}

.centerImage {
  text-align: center;
  border: black 4px solid;
} */

/* #APODimagen {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#APODtituloDeImagen {
  text-align: center;
  color: #bddadb;
} */


