* {
  /* text-indent: 0; */
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  background-color:#021627;
}

/* Comienzo Barra de Navegación*/

nav {
  font-family: "Rubik", sans-serif;
  background-color: #021627;
  height: 80px;
  width: 100%;
  /* align-items: center; */
  /* margin: auto;
  display: flex;
  justify-content: space-evenly; */
}

label.logo {
  color: #bddadb;
  font-size: 35px;
  line-height: 80px;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}

nav ul li a {
  color: #bddadb;
  font-size: large;
  padding: 7px 13px;
  border-radius: 3px;
}

nav a:hover {
  background: #2E294E;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: #bddadb;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 900px){
  label.logo {
    font-size: 30px;
    padding-left: 10px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 80%;
    /* height: 100vh; */
    background: #2E294E;
    top: 80px;
    left: -100%;
    margin-left: 10%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
    border-radius: 10px;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
      font-size: 20px;
  }

  a:hover,a.active {
      background: none;
      color: #021627;
  }

  #check:checked ~ ul {
      left: 0;
  }

}

/* Fin Barra de Navegación*/

.tituloPrincipal{
  font-family: "Rubik", sans-serif;
  color: #bddadb;
  font-size: large;
}
.tituloSecundario{
  font-family: "Rubik", sans-serif;
  color: #AF661D;
  font-size: large;
}
.parrafoPrincipal{
  font-family: "Montserrat", sans-serif;
  color: rgb(6, 41, 49);
  font-size : small;
}
.parrafoSecundario{
  font-family: "Montserrat", sans-serif;
  color: rgb(11, 127, 156);
  font-size: small;
}

#container{
  display: flex;
}

#cabecera {
  height: 500px;
  /* width: 100%; */
  background-color: #ffe4c4;
  border-radius: 10px;
  margin: 0 5px 0 15px;
}

#seccionPrincipal{
  width: 83%;
}

#seccionLateral{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: cadetblue; */
  width: 17%;
  height: 800px;
  position: sticky;
  top: 20px;
  margin: 20px 5px 20px 20px;
  /* padding: 10px; */
  border-radius: 10px;
}

#fotoDiaSide {
  background-color: cadetblue;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  /* height: 266px; */
}

#juegosSide {
  background-color: cadetblue;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 266px;
}

#librosSide {
  background-color: cadetblue;
  padding: 10px;
  border-radius: 10px;
  height: 266px;
}

/* Comienzo Sección Principal */

#videoEspacio {
  height: 300px;
  background-color: brown;
  margin: 20px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 2px;
}

/* Comienzo Novedades */

#novedades {
  height: 300px;
  /* background-color: coral; */
  margin: 20px;
  margin-left: 15px;
  /* padding: 10px; */
  border-radius: 10px;
  margin-right: 2px;
  display: flex;
}

.novedad {
  padding: 10px 0px 3px 10px;
  height: 100%;
  width: 30%;
  background-color: aqua;
  margin-left: -5px;
  border-radius: 5px;
  background: linear-gradient(90deg,#133655,#021627);
}

.novedad:first-child {
  margin-left: 1px;
}

.novedad:hover {
  transform: translate(-10px, -10px);
}

.novedad h3 {
  margin-bottom: 5px;
  color: white;
}

.novedad p {
  color: silver;
  font-size: 14px;
  padding-right: 5px;
}

/* Fin Novedades */

/* Comienzo Juegos */

#pelis {
  height: 300px;
  /* background-color: cornflowerblue; */
  margin: 20px;
  margin-left: 15px;
  border-radius: 10px;
  margin-right: 2px;
  display: flex;
}

.movies {
  padding: 10px 0px 3px 10px;
  height: 100%;
  width: 30%;
  margin-left: -5px;
  border-radius: 5px;
  background: linear-gradient(90deg,#133655,#021627);
}

.movies:first-child {
  margin-left: 1px;
}

.movies:hover {
  transform: translate(-10px, -10px);
}

.movies h3 {
  margin-bottom: 5px;
  color: white;
}

.movies img {
  height: 100%;
  width: 90%;
  /* margin: auto; */
}

#nombrePeli {
  position: bottom;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  
}

#containerPeli:hover #nombrePeli {
  opacity: 0.8;
}

#estiloNombrePeli {
  color: #021627;
  font-weight: bold;
  font-size: 16px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: steelblue;
  border-radius: 3px;
  padding: 3px;
}

/* Fin Juegos */

#libros {
  height: 300px;
  background-color: darkgoldenrod;
  margin: 20px;
  margin-left: 15px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 2px;
}

/* Fin Sección Principal */

footer {
  width: 100%;
  background-color: #021627;
  height: 100px;
  position: relative;
  bottom: 0px;
}

#footerCopy {
  color: #bddadb;
  background-color: #021627;
  bottom: 0;
  position: absolute;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  bottom: 0px;
}

#imagenAPODhd{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imagenAPODhd {
  text-align: center;
  width: 100%;
  border: black 4px solid;
}

#modalAPOD {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button */
#cerrarModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#cerrarModal:hover,
#cerrarModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#abrirModal {
  cursor: pointer;
}

#abrirModal img {
  border-radius: 5px;
  margin-top: 3px;
}

/* sidebar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient( rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);;
  border-radius: 7px;
}
